name: .Terraform Deployer

on:
  workflow_call:
    inputs:
      environment_name:
        description: "The name of the environment to deploy to"
        required: true
        default: "tools"
        type: string
      command:
        description: "The Terraform command to run (init, plan, apply, destroy)"
        required: true
        default: "apply"
        type: string
      target_module:
        required: true
        type: string
        description: "The module to target (e.g., bastion, network, azure_proxy). Mandatory and should not be jumpbox."

env:
  TF_VERSION: 1.12.2
  TF_LOG: ERROR

permissions:
  id-token: write # Required for OIDC authentication
  contents: read

jobs:
  terraform:
    if: inputs.target_module != 'jumpbox'
    environment: ${{ inputs.environment_name }}
    name: Terraform ${{ inputs.command }} ${{ inputs.target_module && format('({0})', inputs.target_module) || '' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure CLI Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: ${{ env.TF_VERSION }}
      - name: Make deploy script executable
        shell: bash
        run: chmod +x ./initial-setup/infra/deploy-terraform.sh
      - name: Deploy Azure proxy
        shell: bash
        working-directory: ./initial-setup/infra
        env:
          CI: "true"
          ARM_USE_OIDC: "true"
          TF_VAR_app_name: "ai-hub"
          TF_VAR_app_env: ${{ inputs.environment_name }}
          TF_VAR_location: "Canada Central"
          TF_VAR_resource_group_name: "ai-hub-${{ inputs.environment_name }}"
          TF_VAR_common_tags: >-
            {"environment":"${{ inputs.environment_name }}","app_env":"${{ inputs.environment_name }}","repo_name":"${{ github.event.repository.name }}"}
          # Sensitive variables from secrets
          TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_VAR_client_id: ${{ secrets.AZURE_CLIENT_ID }}
          TF_VAR_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          TF_VAR_azure_proxy_image: ghcr.io/${{ github.repository }}/azure-proxy/chisel:latest
        run: |
          ./deploy-terraform.sh "${{ inputs.command }}" -target="${{ inputs.target_module }}"
