name: Deploy TEST on Main Merge

on:
    push:
        branches:
            - main

permissions:
    id-token: write
    contents: write

concurrency:
    group: deploy-test-on-main
    cancel-in-progress: false

jobs:
    deploy-proxy-in-tools-environment:
        name: Deploy Proxy in tools
        uses: ./.github/workflows/.deployer.yml
        with:
            environment_name: tools
            command: apply
            target_module: azure_proxy
            tag: latest
            terraform_log_level: INFO
        secrets: inherit

    apply-to-test-environment:
        name: Apply to test Environment
        needs: deploy-proxy-in-tools-environment
        uses: ./.github/workflows/.deployer-using-secure-tunnel.yml
        with:
            environment_name: test
            command: apply
            proxy_url: ${{ needs.deploy-proxy-in-tools-environment.outputs.proxy_url }}
            proxy_auth: ${{ needs.deploy-proxy-in-tools-environment.outputs.proxy_auth }}
            tag: latest
            terraform_log_level: INFO
        secrets: inherit
