name: PR # Build Containers on PR Open
on:
  pull_request:

  workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: write # This is required for actions/checkout
  packages: write
  pull-requests: write

jobs:
  builds:
    concurrency:
      # Cancel in progress for PR open and close
      group: builds-${{ github.event.number || 'latest' }}
      cancel-in-progress: true
    uses: ./.github/workflows/.builds.yml
    with:
      tags: |
        ${{ github.event.number || 'manual' }}
        manual-${{ github.run_number }}
        ${{github.event.number}}-${{ github.run_number }}
        latest
  deploy:
    name: Deploy to 'tools' Environment
    needs: builds
    uses: ./.github/workflows/.deployer.yml
    with:
      environment_name: tools
      command: apply
      target_module: azure_proxy
      tag: ${{github.event.number}}-${{ github.run_number }}
    secrets: inherit
  deploy-dev:
    name: Deploy to 'dev' Environment
    needs: deploy
    uses: ./.github/workflows/.deployer-using-secure-tunnel.yml
    with:
      environment_name: dev
      command: apply
      proxy_url: ${{ needs.deploy.outputs.proxy_url }}
      proxy_auth: ${{ needs.deploy.outputs.proxy_auth }}
      tag: ${{github.event.number}}-${{ github.run_number }}
    secrets: inherit
  destroy-test: # testing purpose only
    name: Destroy 'test' Environment
    needs: deploy
    uses: ./.github/workflows/.deployer-using-secure-tunnel.yml
    with:
      environment_name: test
      command: destroy
      proxy_url: ${{ needs.deploy.outputs.proxy_url }}
      proxy_auth: ${{ needs.deploy.outputs.proxy_auth }}
      tag: ${{github.event.number}}-${{ github.run_number }}
    secrets: inherit
  destroy-prod: # testing purpose only
    name: Destroy 'prod' Environment
    needs: deploy
    uses: ./.github/workflows/.deployer-using-secure-tunnel.yml
    with:
      environment_name: prod
      command: destroy
      proxy_url: ${{ needs.deploy.outputs.proxy_url }}
      proxy_auth: ${{ needs.deploy.outputs.proxy_auth }}
      tag: ${{github.event.number}}-${{ github.run_number }}
    secrets: inherit
