name: PR # Build Containers on PR Open
on:
  pull_request:

  workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: write # This is required for actions/checkout
  packages: write
  pull-requests: write

jobs:
  builds:
    concurrency:
      # Cancel in progress for PR open and close
      group: builds-${{ github.event.number || 'latest' }}
      cancel-in-progress: true
    uses: ./.github/workflows/.builds.yml
    with:
      tags: |
        ${{ github.event.number || 'manual' }}
        manual-${{ github.run_number }}
        latest
  deploy:
    name: Deploy to 'tools' Environment
    needs: builds
    uses: ./.github/workflows/.deployer.yml
    with:
      mode: initial-setup
      environment_name: tools
      command: apply
      target_module: azure_proxy
    secrets: inherit
  deploy-dev:
    name: Deploy to 'dev' Environment
    needs: deploy
    uses: ./.github/workflows/.deployer.yml
    with:
      mode: infra-ai-hub
      environment_name: dev
      command: apply
      use_secure_tunnel: true
      proxy_url: ${{ needs.deploy.outputs.proxy_url }}
      proxy_auth: ${{ needs.deploy.outputs.proxy_auth }}
    secrets: inherit
